
@keyframes box1 {
  0%   {background-color:red;    left:0px; top:0px;}
 12.5% {background-color:orange; left:100px; top:0px;}
 25%   {background-color:yellow; left:200px; top:0px;}
 37.5% {background-color:green; left:200px; top:100px;}
 50%   {background-color:deepskyblue;   left:200px; top:200px;}
 62.5% {background-color:blue; left:100px; top:200px;}
 75%   {background-color:purple;  left:0px; top:200px;}
 87.5% {background-color:deeppink; left:0px; top:100px;}
 100%  {background-color:red;    left:0px; top:0px;}

}

.ani-box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: box1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ani-box:hover {
  animation-play-state: paused;
}

#bnt {
  position:absolute;
  top: 350px;
  left: 450px;
  width: 110px;
  height: 50px;
  font-size: 20px;
}
