


@keyframes box1 {
  0%   {background-color:red;    left:0px; top:0px;}
 12.5% {background-color:orange; left:100px; top:0px;}
 25%   {background-color:yellow; left:200px; top:0px;}
 37.5% {background-color:green; left:200px; top:100px;}
 50%   {background-color:deepskyblue;   left:200px; top:200px;}
 62.5% {background-color:blue; left:100px; top:200px;}
 75%   {background-color:purple;  left:0px; top:200px;}
 87.5% {background-color:deeppink; left:0px; top:100px;}
 100%  {background-color:red;    left:0px; top:0px;}
}

*{
  margin: 0;
  padding: 0;
  border: 0;

}
.contain {
  height: 250px;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  background-color: #aaa;
}

.ani-box {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  animation-name: box1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ani-box:hover {
  animation-play-state: paused;
}

.bnt {
  margin: 20px auto;
  text-align: center;
}

#bnt {
  border-color: red;
  border-width: 2px;
  border-style: dashed;
  background-color: orange;
  width: 100px;
  height: 40px;
  font-size: 20px;
}
